/*
 * === Places class style ===
 */

/* Places flexbox */
.places {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
}

/* Article style */
.places article {
  border: 1px solid #ff5a5f;
  border-radius: 4px;
  margin: 20px;
  padding: 20px;
  width: 390px;
}

/* Name and price header */
.places .name_and_price {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

/* Price by night circle */
.places .price_by_night {
  align-items: center;
  border: 4px solid #ff5a5f;
  border-radius: 50%;
  color: #ff5a5f;
  display: flex;
  font-size: 30px;
  height: 60px;
  justify-content: center;
  min-width: 60px;
}

/* Guests, rooms, and bathrooms information */
.places .information {
  align-items: center;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  display: flex;
  flex-direction: row;
  height: 80px;
  justify-content: space-around;
  text-align: center;
}

/* Width of each guest/room/bathroom sticker */
.places .max_guest,
.places .number_rooms,
.places .number_bathrooms{
  width: 100px;
}

/* Padding around owner */
.places .user {
  margin: 20px auto 20px auto;
}

/*
 * -- Places header style --
 */

/* Header 1 style */
.places h1 {
  font-size: 30px;
  font-weight: bold;
  margin: .67em 0 .67em 0;
  width: 100%;
}

/* Header 2 style */
.places h2 {
  font-size: 30px;
  font-weight: bold;
  margin: 0 auto;
  text-align: center;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

footer {
  position: relative;
}
